{% extends "base.html" %}
{% block title %}SUCM: FAQ {% endblock %}
{% block content %}
<div class="container">
  <h2 class="text-center">Frequently Asked Questions</h2>
  <hr>

  <div class="faq-section">
    <h3 class="faq-question">Administration</h3>
    <p class="faq-answer">For installation and configuration information, visit this confluence page:
      <a href="https://confluence.it.su.se/confluence/pages/viewpage.action?pageId=164766528" target="_blank">Here</a>.</p>
  </div>

  <div class="faq-section">
    <h3 class="faq-question">User Guide</h3>
    <p class="faq-answer">For user guide, visit this confluence page:
      <a href="https://confluence.it.su.se/confluence/display/sysdoc/SUCM" target="_blank">Here</a>.</p>
  </div>

  <!-- Copy and paste the above divs to add more FAQs. Make sure to change the placeholder Confluence link. -->

</div>
{% endblock %}
