{% extends "base.html" %}
{% block title %}SUCM: Inspect cert {% endblock %}
{% block submenu %}
{% include "certificates_submenu.html" %}
{% endblock %}

{% block content %}
    <style>
        .container-inspect {
            max-width: 800px !important;
            padding: 10px;
        }
        .card {
            width: 100%;
            margin: 15px 0;
        }
        .table td {
            padding: .5rem; /* Adjust cell padding */
        }
        .action-btns {
            margin-bottom: 15px; /* Add margin to the bottom of the buttons */
        }

        .inline-form {
            display: inline-block;
            margin-right: 5px; /* Adjust as needed */
        }
        .action-btns {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px; /* Add margin to the bottom of the buttons */
        }
        .loading-spinner {
        margin-left: 10px;
        }
        .expandable-cell {
            cursor: pointer;
            max-height: 3em;
            overflow: hidden;
            display: block;
            transition: max-height 0.3s ease;
            word-break: break-all; /* This will break long words if necessary */
        }

    </style>

    <div class="container-inspect">
        <div class="card">
            <div class="card-body">
                <div class="action-btns">
                    <form action="{{ url_for('main.delete_cert', cert_id=cert_data["cert_id"]) }}" method="post" class="inline-form">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                    <form action="{{ url_for('main.edit_cert', cert_id=cert_data["cert_id"]) }}" method="post" class="inline-form">
                        <input class="btn btn-primary" type="submit" value="Edit">
                    </form>

                    {% if cert_data["cert_type"] == "Manual" %}
                    <form action="{{ url_for('main.submit_csr', cert_id=cert_data["cert_id"]) }}" method="post" class="inline-form">
                        <input class="btn btn-primary" type="submit" value="Submit CSR manually and fetch CRT">
                    </form>
		    {% endif %}
                    <form action="{{ url_for('main.renew_crt', cert_id=cert_data["cert_id"]) }}" method="post" class="inline-form">
                        <input class="btn btn-primary" type="submit" value="Generate new CSR and fetch CRT">
                    </form>

                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr><td>Cert ID:</td><td>{{cert_data["cert_id"]}}</td></tr>
                            <tr><td>CA:</td><td>{{certificate_authority_detail[1]}}</td></tr>
                            <tr><td>Common_Name:</td><td>{{cert_data["common_name"]}}</td></tr>
                            <tr><td>Subject_Alt:</td><td class="expandable-cell">{{cert_data["subject_alt"]}}</td></tr>
                            <tr><td>Country:</td><td>{{cert_data["country"]}}</td></tr>
                            <tr><td>State:</td><td>{{cert_data["state"]}}</td></tr>
                            <tr><td>City:</td><td>{{cert_data["city"]}}</td></tr>
                            <tr><td>Organization:</td><td>{{cert_data["organisation"]}}</td></tr>
                            <tr><td>Status:</td><td>{{cert_data["status"]}}</td></tr>
                            <tr><td>Type:</td><td>{{cert_data["cert_type"]}}</td></tr>
                            <tr><td>Secret Path:</td><td>{{cert_data["secret_path"]}}</td></tr>
                            <tr><td>Notifygroup:</td><td>{{cert_data["notify_group"]}}</td></tr>
                            <tr><td>Create Date:</td><td>{{cert_data["create_date"]}}</td></tr>
                            <tr><td>Expiry Date:</td><td>{{cert_data["expiry_date"]}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <style>
        .active-certs-container {
            max-width: 1200px !important; /* Use full width */
            padding: 10px;
        }
    </style>
<div class="active-certs-container">
    <div class="card"> <!-- Add the "card" class here -->
        <div class="card-body"> <!-- And the "card-body" class here -->
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Common Name</th>
                            <th>Expiry Date</th>
                            <th>Serial Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cert in all_active_certs %}
                            <tr>
                                <td>{{cert['active_cert_id']}}</td>
                                <td>{{cert['common_name']}}</td>
                                <td>{{cert['expiry_date']}}</td>
                                <td>{{cert['serial_number']}}</td>
                                <td>
                                    <form action="{{ url_for('main.revoke_cert', active_cert_id=cert['active_cert_id']) }}" method="post" class="inline-form">
                                        <input class="btn btn-danger" type="submit" value="Revoke" disabled>
                                    </form>
                                    <form action="{{ url_for('main.inspect_active_cert', active_cert_id=cert['active_cert_id']) }}" method="get" class="inline-form">
                                        <input class="btn btn-primary" type="submit" value="Inspect">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

$(document).ready(function() {
    $(".inline-form").on("submit", function() {
        $(this).find(":submit").prop("disabled", true);
        $(this).find(":submit").after('<span class="spinner-border spinner-border-sm loading-spinner" role="status" aria-hidden="true"></span>');
    });

    // Expandable cell functionality
    $('.expandable-cell').on('click', function() {
        var cell = $(this);
        if (cell.hasClass('expanded')) {
            cell.removeClass('expanded').css('max-height', '3em');
        } else {
            cell.addClass('expanded').css('max-height', 'none');
        }
    });
});

</script>
{% endblock %}
